<h1>Hello <%= @student.name %>!</h1>
<p> There's new Notice from <%= @notice.user.name %> </p>

<br><br>
<p>
<strong>Notice Title: <%= @notice.title %></strong>
<br>
Notice Description: <%= @notice.description %>
<br>
</p>

<p>From: Student Notice API<br>
Created By: Shobhit Jain</p>
